<div class="g-ft">
		<div class="g-bd">
			<div class="m-ft">
				<div class="blank20"></div>
				<!-- 友情链接 -->
				<div class="m-link">
					<th:block th:with="infoList = ${#InfoData.getInfoList(#{'siteId':site.id,'catId':'1262280144148500481','orderby','st.resource_publication_date'},1,50)}">
	                <select onchange="if(this.value != '') {window.open(this.value);this.options[0].selected=true;}">
	                    <option value="">中央政府门户网站</option>
	                    <option th:each="item : ${infoList.records}" th:value="${item.url}">[[${item.title}]]</option>
	                </select>
					</th:block>
					<th:block th:with="infoList = ${#InfoData.getInfoList(#{'siteId':site.id,'catId':'1262280200662552578','orderby','st.resource_publication_date'},1,50)}">
	                <select onchange="if(this.value != '') {window.open(this.value);this.options[0].selected=true;}">
	                    <option value="">陕西省政府门户网站</option>
						<option th:each="item : ${infoList.records}" th:value="${item.url}">[[${item.title}]]</option>
	                </select>
					</th:block>
					<th:block th:with="infoList = ${#InfoData.getInfoList(#{'siteId':site.id,'catId':'1262280256564236289','orderby','st.resource_publication_date'},1,50)}">
	                <select onchange="if(this.value != '') {window.open(this.value);this.options[0].selected=true;}">
	                    <option value="">各地扶贫办</option>
						<option th:each="item : ${infoList.records}" th:value="${item.url}">[[${item.title}]]</option>
	                </select>
					</th:block>
					<th:block th:with="infoList = ${#InfoData.getInfoList(#{'siteId':site.id,'catId':'1262280310964359170','orderby','st.resource_publication_date'},1,50)}">
	                <select onchange="if(this.value != '') {window.open(this.value);this.options[0].selected=true;}">
	                    <option value="">新闻媒体</option>
						<option th:each="item : ${infoList.records}" th:value="${item.url}">[[${item.title}]]</option>
	                </select>
					</th:block>
	            </div>
	            <div class="blank27"></div>
	            <!-- 党政机关 -->
	            <div class="dzjg">
	            	<a href="#">
	            		<img src="images/common.files/red.png">
	            	</a>
	            </div>
	            <!-- 版权文字 -->
	            <div class="bqwz">
	            	<p style="text-indent: 141px;">
	            		<a href="#">关于我们</a>
	            		<span>|</span>
	            		<a href="#">联系我们</a>
	            		<span>|</span>
	            		<a href="#">网站声明</a>
	            		<span>|</span>
	            		<a href="#">网站地图</a>
	            	</p>
	            	<p style="text-indent: 187px;">渭南市扶贫开发办公室主办</p>
	            	<p>网站标识码：6101000007&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕ICP备05011550号</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="images/common.files/ghs.png" style="position: relative;top:4px;padding-right: 5px;">陕公网安备 61011202000087号</a></p>
	            </div>
	            <!-- 微信号 -->
	            <div class="wxgzh">
	            	<img src="images/common.files/wnfpewm.png">
	            	<p>渭南扶贫办微信号</p>
	            </div>
			</div>
		</div>
	</div>