<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 通用_全站公用META start -->
	<!--#include virtual='/common/sitemeta.html'-->
	<!-- 通用_全站公用META end -->

	<!-- 全站CSSJS start -->
	<!--#include virtual='/common/cssjs.html'-->
	<!-- 全站CSSJS end -->
</head>
<body>
	<!-- 头部 -->
	<!-- 头部 start -->
	<!--#include virtual='/common/header.html'-->
	<!-- 头部 end -->
	<!-- 通用列表 -->
	<div class="g-bd g-list-bd">
		<!-- 列表页当前位置 -->
		<div class="m-local">
			<ul>
				<li>当前位置：</li>
				<li>
					<a href="/">首页</a>
				</li>
				<li>
					&gt;
				</li>
				<th:block th:each="cata :${#CataData.getCatalogPosition(site.id,catalog.id)}">
					<li th:switch = "${cataStat.last} eq false">
						<a th:case="true" th:href="${cata.linkUrl}">[[${cata.name}]]</a>
						<a th:case="false">[[${cata.name}]]</a>
					</li>
					<li th:if="${cataStat.last} eq false">&gt;</li>
				</th:block>
			</ul>
		</div>
		<!-- 列表 -->
		<div class="g-list">
			<div class="g-lt left">
				<th:block th:with="catalogList = ${#CataData.getCatalogChildrenTree(site.id,catalog.parentId !=0 ? catalog.parentId : catalog.id )}">
				<div class="m-lt-tnm">
					[[${parentCatalog.name}]]
				</div>
				<div class="m-lt-list">
					<ul>
						<th:block th:each="cataq : ${catalogList}">
							<li th:id="${'one_'+cataq.id}" th:onclick="setTab([[one_+${cataq.id}]],[[${cataqStat.count}]],[[${cataq.size}]])" th:class="${cataq.id == catalog.id ? 'hover' : ''}"><a th:href="${cataq.linkUrl}"  th:target="${cataq.flagExternal == 1 ? '_blank':'_self'}" th:text="${cataq.name}">[[${cataq.name}]]</a></li>
						</th:block>
					</ul>
				</div>
				</th:block>
			</div>
			<div class="g-rt right">
				<div class="g-news-list">
					<div class="blank22"></div>


					<div class="m-xjcontent">
		                <div class="formArea">
							<table class="list_table">
								<tbody><tr>
									<th colspan="2">信件内容</th>
								</tr>
								<tr class="double">
									<td width="120px" align="center">提交人</td>
									<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;[[${appealData.userName}]]</td>
								</tr>
								<tr class="single">
									<td width="120px" align="center">信件标题</td>
									<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;[[${appealData.title}]]</td>
								</tr>
								<tr class="double">
									<td width="120px" align="center">提交时间</td>
									<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;[[${#dates.format(item.createTime,'yyyy-MM-dd')}]]</td>
								</tr>
								<tr class="single">
									<td width="120px" align="center">信件内容</td>
									<td align="left">
										<div class="xjcontent" th:utext="${appealData.content}">[[${appealData.content}]]</div>
									</td>
								</tr>
								</tbody>
							</table>
							<div class="g-blk15"></div>
							<table class="list_table">
								<tbody>
								<tr>
									<th colspan="2">回复内容</th>
								</tr>
								<tr class="single">
									<td width="120px" align="center">回复部门</td>
									<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;[[${appealData.replyContent}]]</td>
								</tr>
								<tr class="double">
									<td width="120px" align="center">回复时间</td>
									<td align="left">&nbsp;&nbsp;&nbsp;&nbsp;[[${#dates.format(item.replyTime,'yyyy-MM-dd')}]]</td>
								</tr>
								<tr class="single">
									<td width="120px" align="center">回复内容</td>
									<td align="left">
										<div class="xjcontent" th:utext="${appealData.replyContent}">[[${appealData.replyContent}]]</div>
									</td>
								</tr>
								</tbody>
							</table>
		                    <div class="blank9"></div>
		                    <div class="blank9"></div>
							<form id="satisForm">
								<input type="hidden" id="appealId" name="appealId" th:value="${appealData.id}"><!--信件ID-->
								<input type="hidden" id="actionType" name="actionType" value="insertAppealSatis"><!--表单类型-->
								<input type="hidden" name="random" id="random" value=""><!--验证码KEY-->
								<div class="contentBox9 textLeft myddcBox">
									<div class="myddc">满意度调查</div>
									<div class="blank9"></div>
									<table width="65%" border="0" cellpadding="0" cellspacing="0">
										<tbody><tr style="height:40px;line-height:40px;">
											<td width="80">满意度：</td>
											<td id="tjForm">
                                            <span th:each="satis,satisStat : ${#AppealData.getSatisfactionList()}" th:switch="${satisStat.index}">
                                                <input type="radio" name="satisId" th:case="0" checked th:value="${satis.id}"/>
                                                <input type="radio" name="satisId" th:case="*" th:value="${satis.id}"/>[[${satis.name}]]&nbsp;&nbsp;
                                            </span>
											</td>
											<td id="tjJieguo" style="display: none;">
                                            <span th:each="count : ${#AppealData.getAppealSatisCountByAppealId(appealData.id)}">
                                                [[${count.name}]]:[[${count.totle}]]
                                            </span>
											</td>
										</tr>
										<tr style="height:40px;line-height:40px;">
											<td>验证码：</td>
											<td><input id="verifyCode" name="verifyCode" type="text" class="input_text" value="" maxlength="4" style="width:78px;"><img alt="" width="80" height="22" id="img" align="absmiddle">&nbsp;&nbsp;<span class="f_red">=?(请输入计算结果)</span>
												<a href="javascript:changeCreateImage();">看不清，请换一张</a>
												<div class="cError"></div>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="g-blk12"></div>
									<div class="textLeft" style="text-align:center;">
										<input class="btn_search" id="btnPublish" name="btnPublish" type="button" onclick="insertAppealSatis()" value="提&nbsp;&nbsp;交">
										<input class="btn_search" type="button" value="统计结果" onclick="showJieguo()">
									</div>
									<div class="g-blk12"></div>
								</div>
							</form>
		                    <div class="blank12"></div>      
		                </div>
		            </div>
					<div class="blank22"></div>




				</div>
			</div>
		</div>
	</div>

	<!-- 版权 -->
	<!-- 尾部及友情链接 start -->
	<!--#include virtual='/common/footer.html'-->
	<!-- 尾部及友情链接 end -->
</body>
</html>