<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 通用_全站公用META start -->
	<!--#include virtual='/common/sitemeta.html'-->
	<!-- 通用_全站公用META end -->

	<!-- 全站CSSJS start -->
	<!--#include virtual='/common/cssjs.html'-->
	<!-- 全站CSSJS end -->
	<script type="text/javascript" src="js/tp/jquery.validate.js"></script>
	<script type="text/javascript" src="js/tp/appeal.js"></script>
</head>
<body>
	<!-- 头部 -->
	<!-- 头部 start -->
	<!--#include virtual='/common/header.html'-->
	<!-- 头部 end -->
	<!-- 通用列表 -->
	<div class="g-bd g-list-bd">
		<!-- 列表页当前位置 -->
		<div class="m-local">
			<ul>
				<li>当前位置：</li>
				<li>
					<a href="#">首页</a>
				</li>
				<li>&gt;</li>
				<li>
					<a href="#">互动交流</a>
				</li>
				<li>&gt;</li>
				<li>领导信箱</li>
			</ul>
		</div>
		<!-- 列表 -->
		<div class="g-list">
			<div class="g-lt left">
				<div class="m-lt-tnm">
					互动交流
				</div>
				<div class="m-lt-list">
					<ul>
						<li class="hover">
							<a href="#">领导信箱</a>
						</li>
						<li>
							<a href="#">征集调查</a>
						</li>
						<li>
							<a href="#">常见问题</a>
						</li>
						<li>
							<a href="#">留言反馈</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="g-rt right">
				<div class="g-news-list">
					<div class="blank22"></div>

					<div class="m-xjform">
	                    <div class="m-xjrt">
	                        <div class="xjpd">
	                            <div class="xjtt">请填写信息</div>
	                            <div class="g-blank12"></div>
	                            <div class="xjform">
	                                <form id="appealForm" class="">
	                                    <input type="hidden" name="modelId" id="modelId" th:value="${modelData.id}"><!--业务ID-->
	                                    <input type="hidden" name="namePath" id="namePath" th:value="${catalog.pathName}"><!--栏目-->
	                                    <input type="hidden" name="actionType" id="actionType" value="insertAppeal"><!--表单类型-->
	                                    <input type="hidden" name="random" id="random" value=""><!--验证码KEY-->
	                                    <div class="sendForm">
	                                        <div class="blank15"></div>
	                                        <table class="regFormTable" cellspacing="0" cellpadding="0" border="0">
	                                            <tbody>
	                                            <tr>
	                                                <th>信件标题：</th>
	                                                <td><input id="title" name="title" type="text" class="width400 input_text" placeholder="请输入信件标题(100字以内)" value="">
	                                                    <span class="f_red">*</span><div class="cError"></div>
	                                                </td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>受理部门：</th>
	                                                <td>
	                                                    <select name="deptId" id="deptId" style="width:165px;" class="input_select valid" th:with="deptList = ${#AppealData.getPartDept(modelData.id)}">
	                                                        <option selected="" value="">请选择受理部门</option>
	                                                        <option value="-1" style="color:red;">我不知道部门</option>
	                                                        <option th:each="item : ${deptList}" th:value="${item.id}" th:text="${item.name}">[[${item.name}]]</option>         
	                                                    </select>
	                                                    <span class="f_red">*</span><div class="cError"></div>
	                                                </td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>写信目的：</th>
	                                                <td>
	                                                    <th:block th:with="purposeList = ${#AppealData.getPurposeList()}">
	                                                        <span th:each="item,itemStat : ${purposeList}">
	                                                            <input type="radio" th:value="${item.id}" th:if="${itemStat.index==0}" checked="true" name="purId" id="purId" class="radioClass input_radio">
	                                                            <input type="radio" th:value="${item.id}" th:if="${itemStat.index > 0}" name="purId" id="purId" class="radioClass input_radio">
	                                                            <label for="pur_1" th:text="${item.purposeName}">[[${item.purposeName}]]</label>
	                                                           </span>
	                                                    </th:block>
	                                                </td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>公开意愿：</th>
	                                                <td>
	                                                    <input type="radio" value="1" name="isOpen" id="isOpen" class="radioClass input_radio" checked="true">
	                                                    <label for="pur_1">公开</label>
	                                                    <input type="radio" value="2" name="isOpen" id="isOpen" class="radioClass input_radio">
	                                                    <label for="pur_1">不公开</label>
	                                                    <label style="margin-left: 20px;color: #f00;">注:选择公开的将有可能当作案例在网站公开。</label>
	                                                </td>
	                                            </tr>                                    
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>信件内容：</th>
	                                                <td>
	                                                    <textarea id="content" name="content" style="width:460px;height:250px" placeholder="请输入信件内容" class="input_textarea"></textarea>
	                                                    <div class="cError"></div>
	                                                </td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                        </tbody></table>
	                                        <table class="regFormTable" cellspacing="0" cellpadding="0" border="0">
	                                            <tbody><tr>
	                                                <th>姓<span class="spanSpace12"></span><span class="spanSpace12"></span>名：</th>
	                                                <td><input id="userName" name="userName" type="text" class="width400 input_text" value="" placeholder="请输入您的姓名">
	                                                    <span class="f_red">*</span><div class="cError"></div>
	                                                </td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>身份证号：</th>
	                                                <td><input id="cardId" name="cardId" type="text" class="width400 input_text" value="" placeholder="请输入您的电子邮箱">
	                                                    <span class="f_red">*</span><div class="cError"></div></td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>联系地址：</th>
	                                                <td><input id="address" name="address" type="text" class="width400 input_text" value="" placeholder="请输入您联系地址">
	                                                    <span class="f_red">*</span><div class="cError"></div></td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>联系手机：</th>
	                                                <td><input id="phone" name="phone" type="text" class="width400 input_text" value="" placeholder="请输入您的手机号码">
	                                                    <span class="f_red">*</span><div class="cError"></div></td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>
	                                            <tr>
	                                                <th>电子邮件：</th>
	                                                <td><input id="email" name="email" type="text" class="width400 input_text" value="" placeholder="请输入您的电子邮箱">
	                                                    <span class="f_red">*</span><div class="cError"></div></td>
	                                            </tr>
	                                            <tr><td><div class="blank6"></div></td></tr>

	                                            <tr><td><div class="blank6"></div></td></tr>      
	                                            <tr>
	                                                <th>验<span class="spanSpace6"></span>证<span class="spanSpace6"></span>码：</th>
	                                                <td>
														<input id="verifyCode" name="verifyCode" type="text" class="" value=""  maxlength="4" style="width:78px;" />
														<img alt="" width="80" height="22" id="img" style="width: auto;" align="absmiddle"/>&nbsp;&nbsp;
														<a href="javascript:changeCreateImage();">看不清，请换一张</a>
														<div class="cError"></div>
	                                                </td>
	                                            </tr>
	                                            <tr>
	                                                <td colspan="2" algin="center">
	                                                    <div class="blankHeight20"></div>
	                                                    <div style="width:auto;text-align:center;border:0px;">
	                                                        <input id="btnOK" name="btnOK" type="button" onclick="insertAppeal()" class="wcbtn tjbtn" value="提交"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                                                        <input id="btnRst" name="btnReSet" type="reset" value="重置" class="wcbtn resetbtn">
	                                                    </div>
	                                                    <div class="blankHeight20"></div>
	                                                </td>
	                                            </tr>
	                                        </tbody>
	                                        </table>
	                                    </div>
	                                </form>
	                                <div id="result_div" class="result_div hidden">
	                                    <table class="regFromSuccessTable" border="0" cellpadding="0" cellspacing="0">
	                                        <tbody><tr>
	                                            <th><b>提交成功：</b></th>
	                                            <td>谢谢您的参与！</td>
	                                        </tr>
	                                        <tr>
	                                            <th><b>信件编码：</b></th>
	                                            <td id="result_sq_code"></td>
	                                        </tr>
	                                        <tr>
	                                            <th><b>查询密码：</b></th>
	                                            <td id="result_query_code"></td>
	                                        </tr>
	                                        <tr>
	                                            <th><b>友情提示：</b></th>
	                                            <td>请妥善保存您的信件编码及查询码</td>
	                                        </tr>
	                                    </tbody></table>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="blank22"></div>
					




				</div>
			</div>
		</div>
	</div>

	<!-- 版权 -->
	<!-- 尾部及友情链接 start -->
	<!--#include virtual='/common/footer.html'-->
	<!-- 尾部及友情链接 end -->
</body>
</html>