<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 通用_全站公用META start -->
	<!--#include virtual='/common/sitemeta.html'-->
	<!-- 通用_全站公用META end -->
	<!-- 内容meta start -->
	<!--#include virtual='/common/contentmate.html'-->
	<!-- 内容meta end -->
	<!-- 全站CSSJS start -->
	<!--#include virtual='/common/cssjs.html'-->
	<!-- 全站CSSJS end -->
	<script type="text/javascript" src="js/tp/access.js"></script>
	<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css">
	<script charset="utf-8" type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
</head>
<body>
	<!-- 头部 -->
	<!-- 头部 start -->
	<!--#include virtual='/common/header.html'-->
	<!-- 头部 end -->
	
	<!--正文-->
	<div class="g-bd">
		<div class="g-ct">
			<!-- 正文页当前位置 -->
			<div class="m-local">
				<ul>
					<li>当前位置：</li>
					<li>
						<a href="/">首页</a>
					</li>
					<li>&gt;</li>
					<th:block th:each="c :${#CataData.getCatalogPosition(site.id,catalog.id)}">
						<li><a th:href="${c.linkUrl}">[[${c.name}]]</a></li>
						<li>&gt;</li>
					</th:block>
					<li class="noLink">正文</li>
				</ul>
			</div>
			
			<div class="m-ct-detail" id="printContent">
				<div class="m-ct-utt" th:if="${infoData.quotedtitle!=null}">[[${infoData.quotedtitle}]]</div>
		        <div class="blank6"></div>
		        <div class="m-ct-tt">[[${infoData.title}]]</div>
		        <div class="blank6"></div>
		        <div class="m-ct-dtt" th:if="${infoData.subheading!=null}">[[${infoData.subheading}]]</div>
		        <div class="blank6"></div>
		        <div class="m-ct-crm">
		        	<span class="font">发布日期：[[${#dates.format(infoData.resourcePublicationDate,'yyyy-MM-dd HH:mm')}]]</span>
		        	<span class="font">来源：[[${infoData.sourceName}]]</span>
		        	<div class="m-ct-print">
		        		<a href="javascript:window.print();" class="u-print">打印</a>
		        		<span style="margin: 0 5px;">|</span>
		        		<span class="switchsize">字号：<span class="bigger">大</span> <span class="medium">中</span> <span class="smaller">小</span></span>
		        		<span>分享到：</span>
		        		<div class="shar_area">
					      <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1576569272196">
					        <a href="#" class="bds_more" data-cmd="more"></a>
					        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					        <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
					      </div>

					    </div> 
		        	</div>
		        </div>
				<div class="m-ct-artcle">
					<div class="prism-player" id="player-con"></div>
					<script type="text/javascript" th:inline="javascript">
						var player = new Aliplayer({
									"id": "player-con",
									"source":  [[${infoData.content.mc_video}]],
									"width": "100%",
									"height": "560px",
									"autoplay": true,
									"isLive": false,
									"cover": [[${infoData.thumbnail}]],
									"rePlay": false,
									"playsinline": true,
									"preload": true,
									"controlBarVisibility": "hover",
									"useH5Prism": true
								}, function (player) {

								}
						);
					</script>

				</div>
		        <div class="m-ct-artcle" style="font-size: 16px;" th:if="${infoData.resourceContent!=null}" th:utext="${infoData.resourceContent}">
					[[${infoData.resourceContent}]]
		        </div>
		
			</div>
			
			
			
		</div>
	</div>





	<!-- 版权 -->
	<!-- 尾部及友情链接 start -->
	<!--#include virtual='/common/footer.html'-->
	<!-- 尾部及友情链接 end -->
</body>
</html>